<div class="col-md-6 col-md-offset-3 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t('vote.show_title') %></h2>
  </div>
  <%= simple_form_for [@vote, @vote_post] do |f| %>
    <h3><%= @vote.title %></h3>
    <%= f.input :votecode %>
    <%= f.input :vote_option_id, collection: @vote.vote_options, include_blank: false %>
    <div class="table">
      <%= f.button :submit, t('vote.submit'), label: 'Rösta!' %>
      <%= link_to t('actions.back'), votes_path, class: 'btn secondary' %>
    </div>
  <% end %>
</div>