<%= simple_form_for [:admin, @agenda] do |f| %>
  <%= f.input :title %>
  <%= f.input :index, as: :integer, input_html: { min: '1'} %>
  <%= f.input :status, collection: status_collection,
                       input_html: { class: 'select2' }, include_blank: false %>
  <%= f.input :parent_id, collection: Agenda.all, include_hidden: false,
                input_html: { class: 'select2' }, required: false %>
  <div class="table">
    <%= f.button :submit, class: 'btn primary' %>
    <%= link_to 'Administrera dagordningen', admin_agendas_path, class: 'btn secondary' %>
  </div>
<% end %>
