<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-md-8 offset-md-2 col-sm-12">
  <h3><%= t('.what_is.title') %></h3>
  <%= simple_format(t('.what_is.text')) %>

  <h3><%= t('.how_start.title') %></h3>
  <ol>
    <li><%= t('.how_start.first') %></li>
    <li><%= t('.how_start.second') %></li>
    <li><%= t('.how_start.third') %></li>
  </ol>


  <h3><%= t('.adjustment.title') %></h3>
  <%= simple_format(t('.adjustment.text')) %>

  <h3><%= t('.votes.title') %></h3>
  <%= simple_format(t('.votes.text')) %>

  <h3><%= t('.votecode.title') %></h3>
  <%= simple_format(t('.votecode.text')) %>

  <h3><%= t('.anonymity.title') %></h3>
  <%= simple_format(t('.anonymity.text')) %>

  <h3><%= t('.by.title') %></h3>
  <%= simple_format(t('.by.text')) %>
  <p><strong><%= t('.by.developers') %></strong></p>
  <ul class="list">
    <li>
      <%= link_to('https://github.com/navro', target: :blank_p) do %>
        Jakob Navrozidis (F14)&nbsp;&nbsp;<%= fa_icon('github') %>
      <% end %>
    </li>
    <li>
      <%= link_to('https://github.com/davidwessman', target: :blank_p) do %>
        David Wessman (F13)&nbsp;&nbsp;<%= fa_icon('github') %>
      <% end %>
    </li>
  </ul>

  <h3><%= t('.questions') %></h3>
  <%= link_to(message_path, class: 'btn btn-primary') do %>
    <%= fa_icon('envelope-o') %>&nbsp; Röstiga
  <% end %>
</div>
