<div class="col-12">
  <div class='headline'>
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-6 offset-md-3">
  <%= simple_format(t('.description')) %>

  <%= simple_form_for(@message,
                      method: :post,
                      url: message_path) do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :message, as: :text %>
    <%= f.button :submit, t('.send_message') %>
  <% end %>
</div>
