<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= t('devise.sign_up') %></h1>
  </div>
  <%= simple_form_for(resource, as: resource_name,
                      url: registration_path(resource_name)) do |f| %>
    <%= f.input :firstname, hint: t('user.visibility.name') %>
    <%= f.input :lastname, hint: t('user.visibility.name') %>
    <%= f.input :email, required: true, hint: t('user.visibility.email') %>
    <%= f.input :password, required: true, hint: t('user.visibility.password') %>
    <%= f.input :password_confirmation, required: true %>

    <span class="user signup-terms">
      <%= t('user.agree_to_terms' ) %>
      <%= link_to(t('user.terms'), terms_path, target: :blank_p) %>.
      <%= t('user.read_terms') %>
    </span>

    <%= f.button :submit, id: 'user-submit' %>
    <hr>

    <%= render 'devise/shared/links' %>

  <% end %>
</div>
