<%= title(models_name(News)) %>
<div class="headline">
  <h1><%= models_name(News) %></h1>
</div>
<div class="col-md-2 col-sm-12">
  <%= link_to t('news.new'), new_admin_news_path, class: 'btn primary' %>
</div>

<div class="col-md-10 col-sm-12">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= News.human_attribute_name(:title) %></th>
        <th><%= News.human_attribute_name(:url) %></th>
        <th><%= News.human_attribute_name(:created_at) %></th>
        <th><%= News.human_attribute_name(:user) %></th>
        <th><%= News.human_attribute_name(:updated_at) %></th>
        <th><%= t(:edit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @news.each do |n| %>
        <tr>
          <td><%= n.title %></td>
          <td><%= n.url %></td>
          <td><%= l(n.created_at) %></td>
          <td><%= n.user %></td>
          <td><%= l(n.updated_at) %></td>
          <td><%= link_to(t(:edit), edit_admin_news_path(n)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
