<% if current_user.present? %>
  <div class="user status">
    <div class="headline">
      <h3><%= t('user.your_status') %></h3>
    </div>
    <%= user_presence_status(current_user) %>

    <% if current_user.card_number.present? %>
      <span class="present">
        <%= fa_icon('check-circle-o') %>
        <%= t('vote_user.card_number_present') %>
      </span>
    <% else %>
      <span class="not-present">
        <%= fa_icon('times-circle-o') %>
        <%= link_to(t('vote_user.card_number_not_present'), user_path) %>
      </span>
    <% end %>
  </div>
<% end %>
