<div class="col-md-8 offset-md-2 col-xs-12">
  <div class="margin-bottom-20 user">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <%= link_to(t('user.profile'),
                    '#profile',
                    data: { toggle: :tab },
                    class: "nav-item nav-link #{@tab == :profile ? 'active' : ''}") %>

        <%= link_to(t('user.account'),
                    '#account',
                    data: { toggle: :tab },
                    class: "nav-item nav-link #{@tab == :account ? 'active' : ''}") %>

        <%= link_to(t('user.profile'),
                    '#password',
                    data: { toggle: :tab },
                    class: "nav-item nav-link #{@tab == :password ? 'active' : ''}") %>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div id="profile" class="tab-pane fade <%= @tab == :profile ? 'active show' : '' %>">
        <%= render 'form', user: current_user %>
      </div>

      <div id="account" class="tab-pane fade <%= @tab == :account ? 'active show' : '' %>">
        <%= render 'account_form', user: current_user %>
      </div>

      <div id="password" class="tab-pane fade <%= @tab == :password ? 'active show' : '' %>">
        <%= render 'password_form', user: current_user %>
      </div>

      <br>
      <%= link_to t('back_to_root'), :root %>
    </div>
  </div>
</div>
