<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>
<div class="col-12 col-md-3">
  <%= render('sidebar', current: :password) %>
</div>
<div class="col-12 col-md-9">
  <%= simple_form_for(current_user, url: password_user_path) do |f| %>
      <%= f.input :password  %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password %>
      <%= f.button :submit %>
  <% end %>
</div>
