<div class="news">
  <div class="headline">
    <h3><%= news.title %></h3>
  </div>

  <div class="info">
    <%= news_user(news) %>
    <span class="date">
      <%= l(news.created_at) %>
    </span>
  </div>

  <div class="margin-bottom-20">
    <%= markdown(news.content) %>
  </div>


   <% if can_administrate?(:modify, news) %>
     <span class="edit">
       <%= link_to(edit_admin_news_path(news)) do %>
         <%= fa_icon('cog') %> <%= t(:edit) %>
       <% end %>
     </span>
   <% end %>
</div>
