<div class="headline">
  <h1><%= @news.title %></h1>
</div>

<div class="col-md-12 news">
  <%= simple_format(@news.content)%>

  <% if @news.url.present? %>
    <span class="link">
      <%= link_to(@news.url, target: :blank_p) do %>
        <%= fa_icon('link') %> <%= @news.url %>
      <% end %>
    </span>
  <% end %>
  <span class="date">
    <%= fa_icon('calendar') %> <%= l(@news.created_at) %>
  </span>

  <span class="user">
    <%= link_to(user_path(@news.user), target: :blank_p) do %>
      <%= fa_icon('user') %> <%= @news.user %>
    <% end %>
  </span>

  <% if can_administrate?(:manage, @news) %>
    <span class="edit">
      <%= link_to(edit_admin_news_path(@news)) do %>
        <%= fa_icon('cog') %> <%= t(:edit) %>
      <% end %>
    </span>
  <% end %>
  <hr>

  <%= link_to(t(:index_attr, attr: models_name(News)),
              news_index_path,
              class: 'btn secondary') %>
</div>
