<%= simple_form_for [:admin, @vote] do |f| %>
  <%= f.input :title %>
  <%= f.input :choices, as: :integer, input_html: { min: '1'} %>
  <%= f.input :open, as: :boolean, default: true %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= t('vote.options') %></div>
    <div id="vote_options">
      <%= f.simple_fields_for :vote_options do |v| %>
        <%= render 'vote_option_fields', :f => v %>
      <% end %>
    </div>
    <div class="panel-body" id="links">
      <%= link_to_add_association t('vote.add_option'), f, :vote_options, class: 'btn secondary' %>
    </div>
  </div>
  <div class="table">
    <%= f.button :submit, class: 'btn primary' %>
    <%= link_to t('vote.admin_votes'), admin_votes_path, class: 'btn secondary' %>
  </div>
<% end %>
