<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-3 mb-2">
  <%= render('application/admin_sidebar', current: :votes) %>
  <hr />
  <%= link_to t('.new_vote'), new_admin_vote_path, class: 'btn primary' %>
</div>

<div class="col-12 col-md-9" id="vote-status">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-md-12">
  <table class="table table-striped table-bordered admin-grid">
    <thead>
      <tr>
        <th><%= Vote.human_attribute_name(:title) %></th>
        <th><%= model_name(Agenda) %></th>
        <th><%= Vote.human_attribute_name(:status) %></th>
        <th><%= t('.open_close') %></th>
        <th><%= t(:edit) %></th>
        <th><%= t(:remove) %></th>
      </tr>
    </thead>
    <tbody>
      <% @votes.each do |vote| %>
        <tr class="<%= vote.open? ? 'highlight' : 'no-highlight' %>">
          <td><%= link_to(vote.title, admin_vote_path(vote)) %></td>
          <td>
            <%= if vote.sub_item.present?
              link_to("#{vote.sub_item}", edit_admin_item_path(vote.sub_item.item))
            end %>
          </td>
          <td><%= vote_status_str(vote.status) %></td>
          <td><%= vote_state_link(vote) %></td>
          <td><%= link_to(t(:edit), edit_admin_vote_path(vote)) %></td>
          <td>
            <%= link_to(t(:remove), admin_vote_path(vote), method: :delete,
                        data: { confirm: t('.confirm_remove',
                                           title: vote.title) }) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
