<% provide(:title, t('vote.admin_votes')) %>
<div class="headline">
  <h1><%= t('vote.admin_votes') %></h1>
</div>

<div class="col-md-12">
  <%= link_to t('vote.new_vote'), new_admin_vote_path, class: 'btn primary' %>
  <% if can? :manage, User %>
    <%= link_to t('vote_user.manage'), admin_vote_users_path, class: 'btn secondary' %>
  <% end %>
  <% if can? :manage, Agenda %>
    <%= link_to t('agenda.manage'), admin_agendas_path, class: 'btn secondary' %>
  <% end %>
  <hr>
</div>

<div class="col-md-12 vote status" id="vote-status">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-md-12">
  <%= grid(@votes_grid, class: 'admin-grid') do |grid|
    grid.row_attributes do |v|
      {class: v.open? ? 'highlight' : 'no-highlight'}
    end
    grid.column name: t('attributes.name'), attribute: 'title' do |v|
      link_to v.title, admin_vote_path(v)
    end
    grid.column name: model_name(Agenda), assoc: :agenda, attribute: 'sort_index' do |v|
      if v.agenda.present?
        link_to(v.agenda, edit_admin_agenda_path(v.agenda))
      end
    end
    grid.column name: t('vote.status'), attribute: 'status' do |v|
      vote_status_str(v.status)
    end
    grid.column name: t('vote.open_close') do |v|
      vote_state_link(v)
    end
    grid.column name: t('edit') do |v|
      link_to t('edit'), edit_admin_vote_path(v)
    end
    grid.column name: t('remove') do |v|
      link_to(t('remove'), admin_vote_path(v), method: :delete, data:
              { confirm: t('vote.confirm_remove') + v.title + '?'} )
    end
  end -%>
</div>
