<% provide(:title, t('vote.admin_votes')) %>
<div class="headline">
  <h1><%= t('.title') %></h1>
</div>

<div class="col-md-12">
  <%= link_to t('.new_vote'), new_admin_vote_path, class: 'btn primary' %>
  <% if can_administrate? :manage, User %>
    <%= link_to t('.manage_vote_users'), admin_vote_users_path, class: 'btn secondary' %>
  <% end %>
  <% if can_administrate? :manage, Agenda %>
    <%= link_to t('.manage_agenda'), admin_agendas_path, class: 'btn secondary' %>
  <% end %>
  <hr>
</div>

<div class="col-md-12 vote status" id="vote-status">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-md-12">
  <table class="table table-striped table-bordered admin-grid">
    <thead>
      <tr>
        <th><%= Vote.human_attribute_name(:title) %></th>
        <th><%= model_name(Agenda) %></th>
        <th><%= Vote.human_attribute_name(:status) %></th>
        <th><%= t('.open_close') %></th>
        <th><%= t(:edit) %></th>
        <th><%= t(:remove) %></th>
      </tr>
    </thead>
    <tbody>
      <% @votes.each do |vote| %>
        <tr class="<%= vote.open? ? 'highlight' : 'no-highlight' %>">
          <td><%= link_to(vote.title, admin_vote_path(vote)) %></td>
          <td>
            <%= if vote.agenda.present?
              link_to("$#{vote.agenda.order}", edit_admin_agenda_path(vote.agenda))
            end %>
          </td>
          <td><%= vote_status_str(vote.status) %></td>
          <td><%= vote_state_link(vote) %></td>
          <td><%= link_to(t(:edit), edit_admin_vote_path(vote)) %></td>
          <td>
            <%= link_to(t(:remove), admin_vote_path(vote), method: :delete,
                        data: { confirm: t('.confirm_remove',
                                           title: vote.title) }) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
