<div class="col-md-6 col-md-offset-3 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t('vote.show_title') + ' – ' + @vote.title %></h2>
  </div>
  <table class="table">
    <tr>
      <td><%= t('attributes.name') %></td>
      <td><%= @vote.title %></td>
    </tr>
    <tr>
      <td><%= t('vote.status') %></td>
      <td><%= @vote.open ? t('vote.open') : t('vote.closed') %></td>
    </tr>
    <tr>
      <td><%= t('vote.number_of_votes') %></td>
      <td><%= @vote.vote_posts.count %></td>
    </tr>
  </table>
  <% if @vote.open %>
    <i><%= t('vote.still_open') %></i><p><p>
    <% @vote.vote_options.where.not(:title => nil).each do |v| %>
      <b><%= v.title %></b>
      <p>
    <% end %>
  <% else %>
    <%= t('vote.results') %>
    <table class="table">
      <% @vote.vote_options.where.not(:title => nil).each do |v| %>
        <tr>
          <td><b> <%= v.title %></b></td>
         <td><b><%= v.count %></b></td>
       </tr>
      <% end %>
    </table>
  <% end %>

  <div class="headline">
    <h3>Log</h3>
  </div>
  <h4><%= models_name(Vote) %></h4>
  <%= grid(@audit_grid) do |grid|
    grid.column name: t('log.action'), attribute: 'action', filter: false do |u|
      User.human_attribute_name(u.action)
    end
    grid.column name: t('log.change'), attribute: 'audited_changes', filter: false do |u|
      split_audit_hashes(u.audited_changes, Vote)
    end
    grid.column name: t('log.date'), attribute: 'created_at', filter: false
  end -%>
  <h4><%= models_name(VoteOption) %></h4>
  <%= grid(@option_grid) do |grid|
    grid.column name: t('log.action'), attribute: 'action', filter: false do |v|
      Vote.human_attribute_name(v.action)
    end
    grid.column name: t('log.change'), attribute: 'action', filter: false do |v|
      split_audit_hashes(v.audited_changes, VoteOption)
    end
    grid.column name: t('log.date'), attribute: 'created_at', filter: false do |v|
      v.created_at
    end
  end -%>
  <h4><%= models_name(VotePost) %></h4>
  <%= grid(@post_grid) do |grid|
    grid.column name: t('log.action'), attribute: 'action', filter: false do |v|
      Vote.human_attribute_name(v.action)
    end
    grid.column name: t('log.change'), attribute: 'action', filter: false do |v|
      split_audit_hashes(v.audited_changes, VotePost)
    end
    grid.column name: t('log.date'), attribute: 'created_at', filter: false do |v|
      v.created_at
    end
  end -%>
  <%= link_to t('vote.edit_vote'), edit_admin_vote_path(@vote), class: 'btn primary' %>
  <%= link_to t('vote.admin_votes'), admin_votes_path, class: 'btn secondary' %>
</div>
