<div class="col-md-10 col-md-offset-1 col-sm-1+ col-sm-offset-1 reg-page">
  <div class="headline">
    <h2><%= t('vote.show_title') + ' – ' + @vote.title %></h2>
  </div>
  <table class="table">
    <tr>
      <td><%= t('attributes.name') %></td>
      <td><%= @vote.title %></td>
    </tr>
    <tr>
      <td><%= t('vote.status') %></td>
      <td><%= @vote.open ? t('vote.open') : t('vote.closed') %></td>
    </tr>
    <tr>
      <td><%= Vote.human_attribute_name(:choices) %></td>
      <td><%= @vote.choices %></td>
    </tr>
    <tr>
      <td><%= t('vote.number_of_votes') %></td>
      <td><%= @vote.vote_posts.count %></td>
    </tr>
  </table>
  <% if @vote.open %>
    <i><%= t('vote.still_open') %></i><p><p>
    <% @vote.vote_options.where.not(:title => nil).each do |v| %>
      <b><%= v.title %></b>
      <p>
    <% end %>
  <% else %>
    <%= t('vote.results') %>
    <table class="table">
      <% @vote.vote_options.where.not(:title => nil).each do |v| %>
        <tr>
          <td><b> <%= v.title %></b></td>
         <td><b><%= v.count %></b></td>
       </tr>
      <% end %>
    </table>
  <% end %>
  <%= grid(@grid) do |grid|
    grid.column name: t('log.type'), attribute: 'auditable_type', custom_filter: vote_filter do |a|
      Audit.human_attribute_name(a.auditable_type)
    end
    grid.column name: t('log.action'), attribute: 'action', filter: false do |a|
      User.human_attribute_name(a.action)
    end
    grid.column name: t('log.change'), attribute: 'audited_changes', filter: false do |a|
      split_audit_hashes(a.audited_changes, Vote)
    end
    grid.column name: model_name(User), assoc: :user, attribute: 'firstname', filter: false do |a|
      a.user
    end
    grid.column name: t('log.updated_by'), assoc: :updater, attribute: 'firstname', filter: false do |a|
      a.updater
    end
    grid.column name: t('log.date'), attribute: 'created_at', filter: false
  end -%>
  <%= link_to t('vote.edit_vote'), edit_admin_vote_path(@vote), class: 'btn primary' %>
  <%= link_to t('vote.admin_votes'), admin_votes_path, class: 'btn secondary' %>
</div>
