<%= provide(:title, t('contact.index')) %>
<div class='headline'>
  <h1 id='contacts_title'><%= t('contact.index') %></h1>
</div>

<div class="col-md-12">
  <ul class="list-group">
    <% @contacts.each do |contact| %>
      <li class="list-group-item">
        <%= link_to(t('contact.contact'), contact_path(contact), class: 'btn primary pull-right') %>
        <h4 class="list-group-item-heading"><%= contact.to_s %></h4>
        <p class="list-group-item-text"> <%= contact.text %></p>
      </li>
    <% end %>
  </ul>
</div>
