<%= title(model_name(Contact))%>
<div class="col-md-6 col-md-offset-3 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= @contact.to_s %></h1>
  </div>

  <%=simple_format(@contact.text)%>
  <hr>
  <%= render 'send_form', contact: @contact %>
  <hr>
  <%= link_to(t('contact.back_to_index'), contacts_path, class: 'btn secondary') %>
</div>
