<% if agendas.present? %>
  <div class="headline">
    <h3><%= t('agenda.name') %></h3>
  </div>

  <ul class="agenda list-group">
    <li class="list-group-item">
      <h5 class="list-group-item-heading">
        <%= link_to agendas_path do%>
          <%= fa_icon('angle-double-up') %> <%= t('agenda.all') %>
        <% end %>
      </h5>
    </li>
    <% agendas.each do |agenda| %>
      <% if agenda.start_page? %>
        <li class="<%= "list-group-item #{agenda.current_status}" %>">
          <h5 class="list-group-item-heading">
            <%= agenda_link(agenda) %>
          </h5>
          <span class="badge">
            <%= agenda_status_str(agenda.current_status) %>
          </span>
          <p class="list-group-item-text">
            <% if agenda.children.present? %>
              <% agenda.children.by_index.each do |a| %>
                <%= agenda_link(a) %>
                <br>
              <% end %>
            <% end %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
