<% content_for(:title) do %>
  <%= t('.sent_via') %>
<% end %>

<table>
  <tr>
    <td><%= Message.human_attribute_name(:name) %></td>
    <td><%= @message.name %></td>
  </tr>
  <tr>
    <td><%= Message.human_attribute_name(:email) %></td>
    <td><%= @message.email %></td>
  </tr>
  <tr>
    <td><%= Message.human_attribute_name(:message) %></td>
    <td><%= simple_format(@message.message) %></td>
  </tr>
</table>
