<div class="col">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
  <div class="list-group">
    <% @items.each do |item| %>
      <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= item_link(item) %></h5>
          <%= item_badge(item) %>
        </div>

        <small>
          <%= fa_icon(item_type_icon(item.type), text: item_type(item.type)) %>
        </small>
        <dl class="list-group-item-text">
          <% if item.multiple? %>
            <% item.sub_items.each do |s| %>
              <dd class="<%= 'primary' if s.current? %>">
                <%= s %>
              </dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    <% end %>
  </div>
</div>
