<div class="col-12 mb-3 border-bottom border-primary">
  <div class="d-flex flex-wrap justify-content-between">
    <div class="d-flex flex-wrap justify-content-start">
      <h1 class="d-flex mr-4">
        <%= title(@item.to_s) %>
      </h1>
    </div>
    <div class="d-flex">
      <% if @current_item.present? && @current_item != @item %>
          <p class="text-3 mr-3"><%= t('.current_item') %>:</p>
          <%= link_to(@current_item, item_path(@current_item), class: 'text-3') %>
      <% else %>
        <%= item_badge(@item) %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-12 col-md-3 mb-4">
  <%= user_presence_status(current_user) %>
  <% if @item.multiple? %>
    <h4 class="align-center"><%= fa_icon('agenda', text: t('.sub_items')) %></h4>
    <dl>
      <% @item.sub_items.each do |item| %>
        <dd class="ml-3 <%= 'text-primary' if item.current? %>">
          <%= item %>
          <%= fa_icon('arrow-left', text: t('.current')) if item.current? %>
        </dd>
      <% end %>
    </dl>
  <% end %>

  <% if can_administrate?(:edit, @item) %>
    <hr>
    <%= link_to(t('.edit_item'), edit_admin_item_path(@item), class: 'btn primary') %>
  <% end %>
</div>

<div class="col-12 col-md-9">
  <div class="row">
    <%= render('votes', item: @item, sub_items: @sub_items) %>
    <%= render('documents', item: @item, sub_items: @sub_items) %>
  </div>
</div>
