<%= simple_form_for([:admin, sub_item, document], remote: true) do |f| %>
  <%= f.input :title %>
  <%= f.input :position %>
  <% if document.pdf.present? %>
    <p><%= link_to(document.pdf_identifier, document.view, target: :blank)%></p>
  <% end %>
  <%= f.input :pdf, as: :file, required: !document.pdf.present? %>
  <%= f.button :submit %>
<% end %>
