<%= simple_form_for([:admin, @document]) do |f| %>
  <%= f.input :title %>
  <%= f.input :category, collection: @categories, input_html: { class: 'select2-tags' },
              include_blank: false %>
  <%= f.association :agenda, collection: Agenda.by_index, label_method: :to_s, include_hidden: false,
                             input_html: { class: 'select2-single' }, required: false %>
  <% if @document.pdf.present? %>
    <p><%= link_to(@document.pdf, @document)%></p>
  <% end %>
  <%= f.input :pdf, as: :file %>
  <%= f.input :public, as: :boolean %>
  <%= f.button :submit %>
<% end %>
