<table class="table table-striped table-bordered admin-grid">
  <thead>
    <tr>
      <th><%= Document.human_attribute_name(:title) %></th>
      <th><%= Document.human_attribute_name(:pdf) %></th>
      <th><%= t(:edit) %></th>
      <th><%= t(:remove) %></th>
    </tr>
  </thead>
  <tbody>
    <% sub_item.documents.each do |doc| %>
     <% next unless doc.persisted? %>
      <tr>
        <td>
          <%= doc %>
        </td>
        <td>
          <%= link_to(doc.pdf_identifier, doc.view, target: :blank) %>
        </td>
        <td>
          <%= link_to(t(:edit), edit_admin_sub_item_document_url(sub_item, doc),
                                remote: true) %>
        </td>
        <td>
          <%= link_to(t(:remove), admin_sub_item_document_path(sub_item, doc),
                      method: :delete,
                      data: { confirm: t('.confirm_remove',
                                         title: doc) }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
