<%= provide(:title, t('document.title')) %>
<div class="headline">
  <h1><%= t('document.title') %></h1>
</div>

<div class="row">
  <div class="col-md-2 col-sm-12 margin-bottom-20">
    <%= link_to(t('document.new'), new_admin_document_path, class: 'btn primary') %>
    <%= link_to(t('document.index'), documents_path, class: 'btn secondary') %>
  </div>

  <div class="col-md-10 col-sm-12 table-responsive">
    <%= paginate(@documents) %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= Document.human_attribute_name(:title) %></th>
          <th><%= Document.human_attribute_name(:category) %></th>
          <th><%= Document.human_attribute_name(:public) %></th>
          <th><%= Document.human_attribute_name(:updated_at) %></th>
          <th><%= model_name(Agenda) %></th>
          <th><%= model_name(User) %></th>
          <th><%= t(:edit) %></th>
        </tr>
        <tbody>
          <% @documents.each do |d| %>
            <tr>
              <td> <%= link_to(d, document_path(d), target: :blank) %></td>
              <td> <%= d.category %></td>
              <td> <%= yes_no(d.public) %></td>
              <td> <%= l(d.updated_at) %></td>
              <td> <%= link_to(d.agenda, edit_admin_agenda_path(d.agenda)) if d.agenda.present? %></td>
              <td> <%= d.user %></td>
              <td>
                <%= link_to(fa_icon('cog', text: t(:edit)),
                            edit_admin_document_path(d)) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
    <%= paginate(@documents) %>
  </div>
</div>
