<%= link_to new_admin_adjustment_path(user_id: user.id) do %>
    <%= fa_icon('plus') %> <%= t('adjustment.new') %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('log.type') %></th>
      <th><%= model_name(Agenda) %></th>
      <th><%= t('edit') %></th>
      <th><%= t('remove') %></th>
    </tr>
  </thead>
  <tbody id="adjustments-sortable">
    <% @adjustments.each do |adjustment| %>
      <tr data-item-id=<%= "#{adjustment.id}" %> class="item">
        <td>
          <%= in_out_table(adjustment.presence) %>
        </td>
        <td>
          <%= adjustment.agenda %>
        </td>
        <td>
          <%= link_to t('edit'), edit_admin_adjustment_path(adjustment) %>
        </td>
        <td class='adjustments-deleterow'>
          <%= fa_icon('times') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
