<%= link_to(new_admin_adjustment_path(user_id: user.id)) do %>
    <%= fa_icon('plus') %> <%= t('.new_adjustment') %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('log.type') %></th>
      <th><%= model_name(Agenda) %></th>
      <th><%= t(:edit) %></th>
      <th><%= t(:remove) %></th>
    </tr>
  </thead>
  <tbody id="adjustments-sortable">
    <% adjustments.each do |adjustment| %>
      <tr data-item-id="<%= adjustment.id %>" class="item" id="<%= dom_id(adjustment) %>">
        <td>
          <%= in_out_table(adjustment.presence) %>
        </td>
        <td>
          <%= adjustment.sub_item %>
        </td>
        <td>
          <%= link_to(t(:edit), edit_admin_adjustment_path(adjustment)) %>
        </td>
        <td>
          <%= link_to(fa_icon('times'), admin_adjustment_path(adjustment),
                                        method: :delete,
                                        remote: true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
