<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.input :presence, as: :boolean %>
  <%= f.input :votecode, readonly: true %>
  <div class="table">
    <%= f.button :submit %>
    <%= link_to t('vote_user.manage'), admin_vote_users_path, class: 'btn secondary' %>
  </div>
<% end %>
