<div class="headline">
  <h1><%= t('vote_user.attendance_list') %></h1>
</div>
<div class="col-md-12">
  <% if can? :manage_voting, User %>
    <%= link_to t('vote_user.manage'), admin_vote_users_path, class: 'btn primary' %>
  <% end %>
  <% if can? :manage, Vote %>
    <%= link_to t('vote.manage'), admin_votes_path, class: 'btn secondary' %>
  <% end %>
  <% if can? :manage, Agenda %>
    <%= link_to t('agenda.manage'), admin_agendas_path, class: 'btn secondary' %>
  <% end %>
</div>
<div class="col-md-12">
  <%= grid(@attend_grid) do |grid|
    grid.column name: t('attributes.name'), attribute: 'lastname' do |user|
      link_to user, admin_vote_user_path(user)
    end
    grid.column name: User.human_attribute_name('presence') do |user|
      split_adjustments(user.adjustments)
    end
  end -%>
</div>
