<div class="headline">
  <h1><%= t('vote_user.administrate') %></h1>
</div>

<div class="col-md-12">
  <%= link_to t('vote_user.attendance_list'), attendance_list_admin_vote_users_path,
              class: 'btn primary' %>
  <%= link_to t('adjustment.index'), admin_adjustments_path,
              class: 'btn primary' %>
  <% if can? :manage, Vote %>
    <%= link_to t('vote.manage'), admin_votes_path, class: 'btn secondary' %>
  <% end %>
  <% if can? :manage, Agenda %>
    <%= link_to t('agenda.manage'), admin_agendas_path, class: 'btn secondary' %>
  <% end %>
  <%= link_to(t('vote_user.make_all_not_present'), all_not_present_admin_vote_users_path,
              method: :patch, class: 'btn secondary',
              data: {confirm: t('vote_user.confirm_all_not_present')}) %>
  <hr>
</div>

<div class="col-md-12 vote status" id="vote-status" data-position="vote-user-index">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-md-12">
  <%= grid(@vote_users_grid, class: 'adjustment-grid') do |grid|
    grid.row_attributes do |user|
      {id: dom_id(user), class: user.presence ? 'present' : 'not-present'}
    end
    grid.column name: t('attributes.name'), attribute: 'firstname', html: {class: 'name'} do |user|
      link_to admin_print_user(user), admin_vote_user_path(user)
    end
    grid.column name: User.human_attribute_name(:presence), attribute: 'presence', 
                html: {class: 'presence'} do |user|
      yes_no(user.presence)
    end
    grid.column name: t('vote_user.change_state'), html: {class: 'adjust'} do |user|
      vote_user_state_link(user)
    end
    grid.column name: t('vote_user.reset_votecode'), attribute: 'votecode',
                html: {class: 'votecode-reset'} do |user|
      link_to t('vote_user.reset'), new_votecode_admin_vote_user_path(user),
                method: :patch, remote: true,  data: {confirm: t('vote_user.confirm_reset')}
    end
  end -%>
</div>
