<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-3 mb-3">
  <%= render('application/admin_sidebar', current: :vote_users) %>
  <hr />
  <div class="mb-2">
    <%= link_to(t('.make_all_not_present'), admin_attendances_path,
                method: :delete, class: 'btn btn-secondary',
                data: {confirm: t('.confirm_all_not_present')}) %>
  </div>
  <div class="mb-2">
    <%= link_to t('.attendance_list'), admin_attendances_path,
                class: 'btn btn-primary' %>
  </div>
  <div class="mb-2">
    <%= link_to t('.quick_adjustments'), admin_adjustments_path,
                class: 'btn btn-primary' %>
  </div>
</div>

<div class="col-12 col-md-9">
  <div id="vote-status" data-position="vote-user-index">
    <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
  </div>
  <%= render('admin/searches/user_form') %>
  <div id="vote-users-table">
    <%= render('table', vote_users: @vote_users, pagination: true) %>
  </div>
  <hr>
  <%= render '/admin/adjustments/info' %>
</div>
