<div class="headline">
  <h1><%= t('.title') %></h1>
</div>

<div class="col-md-12">
  <%= link_to t('.attendance_list'), admin_attendances_path,
              class: 'btn primary' %>
  <%= link_to t('.quick_adjustments'), admin_adjustments_path,
              class: 'btn primary' %>
  <% if can? :manage, Vote %>
    <%= link_to t('.manage_vote'), admin_votes_path, class: 'btn secondary' %>
  <% end %>
  <% if can? :manage, Agenda %>
    <%= link_to t('.manage_agenda'), admin_agendas_path, class: 'btn secondary' %>
  <% end %>
  <%= link_to(t('.make_all_not_present'), admin_attendances_path,
              method: :delete, class: 'btn secondary',
              data: {confirm: t('.confirm_all_not_present')}) %>
  <hr>
</div>

<div class="col-md-12 vote status" id="vote-status" data-position="vote-user-index">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-md-12">
  <%= render('admin/searches/user_form') %>
  <%= paginate(@vote_users) %>
  <table class="table table-striped table-bordered admin-grid">
    <thead>
      <%= render('table_header') %>
      <tbody id="user-table-body">
        <%= render('table_rows', vote_users: @vote_users) %>
      </tbody>
    </thead>
  </table>
  <%= paginate(@vote_users) %>
  <hr>
  <%= render '/admin/adjustments/info' %>
</div>
