<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-3 mb-3">
  <%= render('application/admin_sidebar', current: :vote_users) %>
  <hr />
  <%= link_to t('.all_vote_users'), admin_vote_users_path,
              class: 'btn secondary' %>
</div>
<div class="col-12 col-md-9">
  <div class="headline">
    <h3><%= models_name(User) %></h3>
  </div>
  <table class="table table-striped table-bordered">
    <tr>
      <td><%= User.human_attribute_name(:name) %></td>
      <td><%= @user.to_s %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:votecode) %></td>
      <td><%= @user.votecode %><br></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:presence) %></td>
      <td><%= presence_string(@user.presence) %><br></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:confirmed_at) %></td>
      <td><%= user_confirmed(@user) %></td>
    </tr>
  </table>

  <hr />

  <div class="headline">
    <h3><%= models_name(Adjustment) %></h3>
  </div>
  <%= render 'adjustments', user: @user, adjustments: @adjustments %>

  <div class="headline">
    <h3><%= t('log.title') %></h3>
  </div>
  <%= render '/admin/audits/log', audits: @audits, votes: @votes, primary: User, secondary: Vote %>

</div>
