<div class="col-md-10 col-md-offset-1 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= model_name(User) %></h1>
  </div>
  <table class="table">
    <tr>
      <td><%= User.human_attribute_name(:name) %></td>
      <td><%= @user.to_s %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:votecode) %></td>
      <td><%= @user.votecode %><br></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:presence) %></td>
      <td><%= presence_string(@user.presence) %><br></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:confirmed_at) %></td>
      <td><%= user_confirmed(@user) %></td>
    </tr>
  </table>

  <%= link_to t('vote_user.administrate'), admin_vote_users_path, class: 'btn secondary' %>
  <hr />

  <div class="headline">
    <h3><%= models_name(Adjustment) %></h3>
  </div>
  <%= render 'adjustments', user: @user %>

  <div class="headline">
    <h3><%= t('log.title') %></h3>
  </div>
  <%= render '/admin/audits/log', audits: @audits, votes: @votes, primary: User, secondary: Vote %>

</div>
