<div class="col-md-10 col-md-offset-1 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t('vote_user.title') %></h2>
  </div>
  <table class="table">
    <tr>
      <td><%= t('attributes.name') %></td>
      <td><%= @user.to_s %></td>
    </tr>
    <tr>
      <td><%= t('vote_user.votecode') %></td>
      <td>
        <%= @user.votecode %><br>
        <%= link_to t('vote_user.reset'), new_votecode_admin_vote_user_path(@user),
                    method: :patch, data: {confirm: t('vote_user.confirm_reset')} %>
    </td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:presence) %></td>
      <td>
        <%= presence_string(@user.presence) %><br>
        <%= vote_user_state_link(@user) %>
      </td>
    </tr>
  </table>
  <div class="headline">
    <h3><%= t('log.title') %></h3>
  </div>
  <%= grid(@audit_grid) do |grid|
    grid.column name: t('log.type'), attribute: 'auditable_type', custom_filter: user_filter do |a|
      Audit.human_attribute_name(a.auditable_type)
    end
    grid.column name: t('log.action'), attribute: 'action', filter: false do |a|
      User.human_attribute_name(a.action)
    end
    grid.column name: t('log.change'), attribute: 'audited_changes', filter: false do |a|
      split_audit_hashes(a.audited_changes, User)
    end
    grid.column name: model_name(Vote), attribute: 'vote_id', filter: false do |a|
      vote_str(@votes, a.vote_id)
    end
    grid.column name: t('log.updated_by'), assoc: :updater, attribute: 'firstname', filter: false do |a|
      a.updater
    end
    grid.column name: t('log.date'), attribute: 'created_at', filter: false
  end -%>
  <%= link_to t('vote_user.administrate'), admin_vote_users_path, class: 'btn secondary' %>
</div>
