<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('users.mailer.hello', user: @user.to_s) %></h1>
    <%= simple_format(t('users.mailer.registered')) %>
    <%= simple_format(t('users.mailer.before_starting')) %>

    <p>
      <%= link_to(t('users.mailer.please_confirm'), user_confirmation_url(confirmation_token: @token)) %>
    </p>

    <%= simple_format(t('users.mailer.enjoy')) %>
    <%= simple_format(t('users.mailer.problem')) %>
  </body>
</html>
