<% content_for(:title) do %>
  <%= t('.hello', user: @user.to_s) %>
<% end %>

<%= simple_format(t('.registered')) %>
<%= simple_format(t('.before_starting')) %>

<br />

<div style="text-align: center;">
  <%= link_to(t('.please_confirm'), user_confirmation_url(confirmation_token: @token), class: 'btn btn-primary') %>
</div>
<br />
<%= simple_format(t('.or_copy', link: user_confirmation_url(confirmation_token: @token))) %>
<br />

<hr />
<br />
<br />

<%= simple_format(t('.enjoy')) %>
<%= simple_format(t('.problem')) %>
