<% content_for(:title) do %>
  <%= t('.hello', user: @user.to_s) %>
<% end %>

<%= simple_format(t('.reset_requested')) %>
<%= simple_format(t('.reset_until', time: l(Time.zone.now))) %>

<br />

<div style="text-align: center;">
  <%= link_to(t('.change_password'), edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary') %>
</div>
<br />
<%= simple_format(t('.or_copy', link: edit_password_url(@resource, reset_password_token: @token))) %>
<br />
<br />

<hr />
<br />
<br />

<%= simple_format(t('.reset_not_you')) %>
