<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('user.mailer.hello', user: @user.to_s) %></h1>
    <%= simple_format(t('user.mailer.reset_requested')) %>
    <%= simple_format(t('user.mailer.reset_until', time: l(Time.zone.now))) %>

    <p>
      <%= link_to(t('user.mailer.change_password'), edit_password_url(@resource, reset_password_token: @token)) %>
    </p>

    <%= simple_format(t('user.mailer.reset_not_you')) %>
    <%= simple_format(t('user.mailer.reset_problem')) %>
  </body>
</html>
