<% title(models_name(User)) %>
<div class="col-md-12 user">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= fa_icon('tasks') %> <%= models_name(User) %>
      </h3>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
            <th><%= User.human_attribute_name(:confirmed_at) %></th>
        </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr id="<%= dom_id(user) %>">
              <td><%= user.id %></td>
              <td><%= user %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.confirmed? %>
                  <%= l(user.confirmed_at) %>
                <% else %>
                  <%= t(:no) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
