<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-3 vote">
  <%= user_presence_status(current_user) %>
  <hr>

  <div class="headline">
    <h3><%= t('.current') %></h3>
  </div>

  <% if @vote_status.sub_item.present? %>
    <h5 class="d-block mb-2">
      <%= @vote_status.sub_item %>
    </h5>

    <% if @vote_status.sub_item.votes.present? %>
      <%= Vote.model_name.human(count: 2) %>
      <ul class="list">
        <% @vote_status.sub_item.votes.order(:id).each do |vote| %>
          <li><%= vote.title %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="col-12 col-md-9 vote">
  <%= user_vote_link(@vote_status)%>
</div>
