<% provide(:title, t('vote.title')) %>
<div class="headline">
  <h1><%= t('vote.title') %></h1>
</div>

<div class="col-md-3 col-sm-12 vote">
  <% if current_user.present? && current_user.presence == true %>
    <span class="present">
      <%= fa_icon('check-circle-o') %>
      <%= t('vote_user.state.present') %>
    </span>
  <% else %>
    <span class="not-present">
      <%= fa_icon('times-circle-o') %>
      <%= t('vote_user.state.not_present') %>
    </span>
  <% end %>
  <hr>

  <div class="headline">
    <h3><%= t('agenda.current') %></h3>
  </div>

  <% if @vote_status.agenda.present? %>
    <h5 class="vote agenda">
      <%= @vote_status.agenda.to_s %>
    </h5>

    <% if @vote_status.agenda.votes.present? %>
      <%= models_name(Vote) %>
      <ul class="list">
        <% @vote_status.agenda.votes.order(:id).each do |vote| %>
          <li><%= vote.title %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="col-md-9 col-ms-12 vote">
  <%= user_vote_link(@vote_status)%>
</div>
