<li class="dropdown right">
  <%= link_to("#", class: "dropdown-toggle", data: { toggle: "dropdown", "close-others" => "false" }) do %>
    <%= fa_icon('cog') %>
    <span>
      <%= t(:administrate) %>
    </span>
  <% end %>
  <ul class="dropdown-menu">
    <% if can? :manage, :all  %>
      <li class="dropdown-submenu">
        <%= link_to(t(:admin), nil) %>
        <ul class="dropdown-menu">
          <li><%= link_to(models_name(User), admin_users_path) %></li>
          <li><%= link_to(models_name(Menu), admin_menus_path) %></li>
          <li><%= link_to(models_name(Constant), constants_path) %></li>
          <li><%= link_to(models_name(Permission), admin_permission_users_path) %></li>
        </ul>
      </li>
    <% end %>
    <% if can? :modify, Contact %>
      <li class="dropdown-submenu">
        <%= link_to models_name(Contact), contacts_path %>
      </li>
    <% end %>
    <% if can? :modify, News %>
      <li class="dropdown-submenu">
        <%= link_to models_name(News), admin_news_index_path %>
      </li>
    <% end %>

    <% if can? :manage, Notice %>
      <li class="dropdown-submenu">
        <%= link_to models_name(Notice), notices_path %>
      </li>
    <% end %>
    <% if can? :manage, Document %>
      <li class="dropdown-submenu">
        <%= link_to model_name(Document), admin_documents_path %>
      </li>
    <% end %>
    <% if can? :manage, Vote %>
      <li class="dropdown-submenu">
        <%= link_to models_name(Vote), admin_votes_path %>
      </li>
    <% end %>
    <% if can? :manage_voting, User %>
      <li class="dropdown-submenu">
        <%= link_to t('user.vote_administration'), admin_vote_users_path %>
      </li>
    <% end %>
  </ul>
</li>
