<li class="dropdown right">
  <%= link_to("#", class: "dropdown-toggle", data: { toggle: "dropdown", "close-others" => "false" }) do %>
    <%= fa_icon('cog') %>
    <span>
      <%= t(:administrate) %>
    </span>
  <% end %>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
        <%= link_to(models_name(User), admin_users_path) %>
    </li>

    <li class="dropdown-submenu">
        <%= link_to(models_name(Menu), admin_menus_path) %>
    </li>

    <li class="dropdown-submenu">
        <%= link_to(models_name(Permission), admin_permission_users_path) %>
    </li>

    <li class="dropdown-submenu">
      <%= link_to models_name(Contact), admin_contacts_path %>
    </li>

    <li class="dropdown-submenu">
      <%= link_to models_name(News), admin_news_index_path %>
    </li>

    <li class="dropdown-submenu">
      <%= link_to models_name(Notice), admin_notices_path %>
    </li>
  </ul>
</li>
