<div class="row copyright" id="copyright">
  <p>
    <%= t('footer.developed_at') %>
    <%= link_to('https://fsektionen.se') do %>
      <%= image_tag('layout/small_f.png') %>
    <% end %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to('https://github.com/fsek/voting', class: 'github') do %>
      <%= fa_icon('github') %>
    <% end %>
    &nbsp;|&nbsp;&nbsp;
    <%= Time.current.year %>
    &copy;<%= link_to('Röstsystem.se', 'http://rostsystem.se') %>
  </p>
</div>

