<ul class="navbar-nav mr-auto">
  <% if current_user.present? && !current_user.user? %>
    <%= render 'layouts/admin_dropdown' %>
  <% end %>

  <li class="nav-item dropdown">
    <%= menu_dropdown_link(t('.info')) %>
    <ul class="dropdown-menu" aria-labelledby="dropdown-info">
      <li><%= link_to(t('.about'), about_path, class: 'dropdown-item') %></li>
      <li><%= link_to(t('.contact'), contacts_path, class: 'dropdown-item') %></li>
      <li><%= link_to(t('.agenda'), agendas_path, class: 'dropdown-item') %></li>
      <li><%= link_to(t('.terms'), terms_path, class: 'dropdown-item') %></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <%= menu_dropdown_link(t('.voting')) %>
    <ul class="dropdown-menu" aria-labelledby="dropdown-info">
      <li><%= link_to(t('.votes'), votes_path, class: 'dropdown-item') %></li>
    </ul>
  </li>
</ul>
