<div class="collapse navbar-collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if current_user.present? && !current_user.user? %>
      <li class="dropdown">
        <%= menu_dropdown_link(t('.administrate')) %>
        <ul class="dropdown-menu">
          <% if can_administrate? :modify, Vote %>
            <li>
              <%= link_to models_name(Vote), admin_votes_path %>
            </li>
          <% end %>
          <% if can_administrate? :modify, :vote_user %>
            <li>
              <%= link_to t('user.vote_administration'), admin_vote_users_path %>
            </li>
          <% end %>
          <% if can_administrate? :modify, Agenda %>
            <li>
              <%= link_to t('agenda.name'), admin_agendas_path %>
            </li>
          <% end %>
          <% if can_administrate? :modify, Document %>
            <li>
              <%= link_to models_name(Document), admin_documents_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <li class="dropdown">
      <%= menu_dropdown_link(t('.info')) %>
      <ul class="dropdown-menu">
        <li><%= link_to(t('.about'), about_path) %></li>
        <li><%= link_to(t('.contact'), contacts_path) %></li>
        <li><%= link_to(t('.documents'), documents_path) %></li>
        <li><%= link_to(t('.agenda'), agendas_path) %></li>
        <li><%= link_to(t('.terms'), terms_path) %></li>
      </ul>
    </li>
    <li class="dropdown">
      <%= menu_dropdown_link(t('.voting')) %>
      <ul class="dropdown-menu">
        <li><%= link_to(t('.votes'), votes_path) %></li>
      </ul>
    </li>
  </ul>
</div>
