<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="sv"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicon' %>
  </head>

  <body class="site">

    <span class="cookies">
      <%= render 'cookies_eu/consent_banner', link: cookies_path %>
    </span>
    <%= render 'layouts/navbar' %>

    <main role="main" class="container content pb-2">
      <%= yield :pre_content %>

      <div class="row">
        <%= render 'layouts/content' %>
      </div>
    </main>

    <%= render 'layouts/copyright' %>
  </body>
</html>
