<div>
  <p><b><%= t('adjustment.info.symbols') %></b>
  <ul class="list">
    <li><%= fa_icon('credit-card') %> <%= t('adjustment.info.card') %></li>
    <li><%= fa_icon('key') %> <%= t('adjustment.info.key') %></li>
    <li><%= fa_icon('times') %> <%= t('adjustment.info.times') %></li>
  </ul>
  <%= markdown(t('adjustment.info.observe')) %>
  <ul class="list">
    <li><%= t('adjustment.info.obs1') %></li>
    <li><%= t('adjustment.info.obs2') %></li>
    <li><%= t('adjustment.info.obs3') %></li>
  </ul>
</div>
