<div>
  <p><b><%= t('.symbols') %></b>
  <ul class="list">
    <li><%= fa_icon('credit-card') %> <%= t('.card') %></li>
    <li><%= fa_icon('key') %> <%= t('.key') %></li>
    <li><%= fa_icon('times') %> <%= t('.confirmed') %></li>
  </ul>
  <%= markdown(t('.observe')) %>
  <ul class="list">
    <li><%= t('.obs1') %></li>
    <li><%= t('.obs2') %></li>
    <li><%= t('.obs3') %></li>
  </ul>
</div>
