<%= provide(:title, t('adjustment.title')) %>
<div class="headline">
  <h1><%= t('adjustment.title') %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <% if can_administrate? :manage_voting, User %>
    <%= link_to t('vote_user.attendance_list'), admin_attendance_list_path,
                class: 'btn primary' %>
    <%= link_to t('vote_user.manage'), admin_vote_users_path, class: 'btn secondary' %>
  <% end %>
  <% if can_administrate? :manage, Vote %>
    <%= link_to t('vote.manage'), admin_votes_path, class: 'btn secondary' %>
  <% end %>
  <% if can_administrate? :manage, Agenda %>
    <%= link_to t('agenda.manage'), admin_agendas_path, class: 'btn secondary' %>
  <% end %>
</div>

<div class="col-md-9 col-sm-12 vote status" id="vote-status" data-position="adjustment-index">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-md-9 col-md-offset-3 col-sm-12">
  <%= simple_form_for(:vote_user, url: search_admin_vote_users_path, remote: true) do |f| %>
    <%= f.input(:card_number, required: false, autofocus: true,
                label: User.human_attribute_name(:card_number),
                input_html: {data: {mask: '9999-9999-9999-9999'},
                             autocomplete: 'off'}) %>
  <% end %>

  <p id=adjustment-status>
  </p>

  <div class="panel panel-main">
    <table class=table>
      <thead id="adjustment-thead">
      </thead>
      <tbody id="adjustment-tbody">
      </tbody>
    </table>
  </div>

  <hr>
  <%= render 'info' %>
</div>
