<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-md-3 col-sm-12">
  <%= render('application/admin_sidebar', current: :adjustments) %>
  <hr />
  <% if can_administrate? :manage, :vote_user %>
    <%= link_to t('.manage_attendance_list'), admin_attendances_path,
                class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="col-12 col-md-9" id="vote-status" data-position="adjustment-index">
  <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
</div>

<div class="col-12 col-md-9 offset-md-3">
  <%= simple_form_for(:search, url: card_admin_search_path, remote: true) do |f| %>
    <%= f.input(:card_number, required: false, autofocus: true,
                label: User.human_attribute_name(:card_number),
                input_html: {data: {mask: '9999-9999-9999-9999'},
                             autocomplete: 'off'}) %>
  <% end %>

  <p id=adjustment-status>
  </p>

  <div class="panel panel-main">
    <table class="table admin-grid">
      <thead id="adjustment-thead">
      </thead>
      <tbody id="adjustment-tbody">
      </tbody>
    </table>
  </div>

  <hr>
  <%= render 'info' %>
</div>
