<div class="col-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
</div>

<div class="col-12 col-md-3">
  <%= render('application/admin_sidebar', current: :adjustments) %>
  <hr />
  <% if can_administrate? :manage, :vote_user %>
    <%= link_to t('.manage_attendance_list'), admin_attendances_path,
                class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="col-12 col-md-9">
  <div id="vote-status" data-position="adjustment-index">
    <%= render '/admin/votes/status', vote_status_view: @vote_status_view %>
  </div>
  <div id="status-display" class="d-none border border-success rounded text-3 p-3 mb-3"></div>
  <div id="error-display" class="d-none border border-danger rounded text-3 p-3 mb-3"></div>
  <%= simple_form_for(:search, url: card_admin_search_path, remote: true) do |f| %>
    <%= f.input(:card_number, required: false, autofocus: true,
                label: User.human_attribute_name(:card_number),
                input_html: { data: { mask: '9999-9999-9999-9999' },
                             autocomplete: 'off', id: 'search-card' }) %>
  <% end %>

  <div id="vote-user">
  </div>

  <hr>
  <%= render 'info' %>
</div>
